<h1>Listing vehicles</h1>
 <%= search_form_for @search do |f| %>
   <%= f.condition_fields do |c| %>
	  <div class="field">
	  	<%= c.attribute_fields do |a| %>
	  	  <%= a.attribute_select %>
	  	<% end %>
	  	<%= c.predicate_select %>
	  	<%= c.value_fields do |v| %>
	  	  <%= v.text_field :value %>
	  	<% end %>
	  </div>
   <% end %>
	  <div class="actions">
	  	<%= f.submit "Search" %>
	  </div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Vehicle</th>
      <th>Date</th>
      <th>Desc</th>
      <th>Mileage</th>
      <th>Category</th>
      <th>Cost</th>
    </tr>
  </thead>

  <tbody>
    <% @vehicles.each do |vehicle| %>
      <tr>
        <td><%= vehicle.vehicle %></td>
        <td><%= vehicle.date %></td>
        <td><%= vehicle.desc %></td>
        <td><%= vehicle.mileage %></td>
        <td><%= vehicle.category %></td>
        <td><%= vehicle.cost %></td>
        <td><%= link_to 'Show', vehicle %></td>
        <td><%= link_to 'Edit', edit_vehicle_path(vehicle) %></td>
        <td><%= link_to 'Destroy', vehicle, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Vehicle', new_vehicle_path %><br/>
<%= link_to 'All Vehicles', vehicles_path %>

<h2>Import Vehicle Records</h2>

<%= form_tag import_vehicles_path, multipart: true do %>
   <%= file_field_tag :file %>
   <%= submit_tag "Import" %>
<% end %>
